# This file is a "template" of what your parameters.yml file should look like
parameters:
    api:
        facebook:
            app_id: "xx"
            app_secret: "xxx"
            access_token: "xxx"
        twitter:
            consumer_key: "xxx"
            consumer_secret: "xxx"